@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;700&display=swap');

*{
    font-family: 'Dosis', sans-serif;
    margin: 0;
    padding: 0;
    /* if i define something as having the width of 500px, it'll actually be 500px even if i add padding etc */
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    transition: all .5s ease-out;
}

/* variables to be used throughout the project*/
:root{
    --main-color: #6e8ae8;
    --black: #333;
    --light-color: #777;
    --bg: #e9f3fc;
    --border: .1rem solid rgba(0,0,0,.1);
    --box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
}

/*selected text will be displayed with these attributes*/
*::selection{
    background: var(--main-color);
    color: #fff;
}

html::-webkit-scrollbar{
    width: 1rem;
}

/* scrollbar bg */
html::-webkit-scrollbar-track{
    background: var(--light-color);
}

/* moving bit */
html::-webkit-scrollbar-thumb{
    background: var(--main-color);
    border-radius: 1rem;
}

html{
    font-size: 65%;
    scroll-behavior: smooth;
    scroll-padding-top: 9rem; 
}

section{
    padding: 2rem 9%;
}

h1{
    text-align: center;
    padding-bottom: 3rem;
    font-size: 4rem;
    color: var(--black);
}

span{
    color: var(--main-color);
    border-radius: .5rem;
    background: var(--bg);
    padding: 0 1.5rem;
}

.btn{
    margin-top: 1rem;
    display: inline-block;
    /* can put on padding, margin because it's inline, but can also do width and height because it's a block */
    padding: 0.8rem 3rem;
    font-size: 1.7rem;
    color: #fff;
    background: var(--main-color);
    border-radius: .5rem;
    box-shadow: var(--box-shadow)
}

.btn:hover{
    background: var(--black);
}

header{
    position: fixed;
    top: 0;
    z-index: 1;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    justify-content: space-between;
    padding: 2rem 9%;
    width: 100%;
}

header .logo{
    font-size: 2.5rem;
    color: var(--black);
    font-weight: 700;
}

header nav a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

header nav a:hover{
    color: var(--main-color);
}

#sakums{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    background: var(--bg);
    padding-top: 10rem;
    position: relative;
}

#sakums .content, #sakums .image{
    flex: 1 1 45rem
}

#sakums .image img{
    width: 100%;
}

#sakums h3{
    font-size: 3rem;
    color: var(--black);
    line-height: 1.8;
}

#sakums p{
    font-size: 1.5rem;
    color: var(--light-color);
    line-height: 1.8;
    padding: 1rem 0;
}

#sakums .cloud{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 12rem;
    background: url('images/cloud.png');
    background-repeat: repeat-x;
    background-size: 250rem 18rem;
    animation: cloud 10s linear infinite;
}

@keyframes cloud{
    0%{
        background-position-x: 0rem;
    }
    
    100%{
        background-position-x: -250rem;
    }
}

#sakums .cloud2{
    opacity: .5;
    height: 15rem;
    animation-duration: 15s;
    animation-direction: reverse;
}

#specialitates .box-container{
    display: grid;
   /* grid-template-columns: 33% 33% 33%; */
   /* grid-template-columns: auto auto auto; */
   /* grid-template-columns: repeat(3, 1fr); */
   grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr)); /* elements have to be 40rem wide, if possible will fit into 1 fraction */
   gap: 1.5rem;
}

#specialitates .box{
    text-align: center;
    border: var(--border);
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    padding: 4rem 2rem;
}

#specialitates .box img{
    height: 30rem;
    width: 100%;
}

#specialitates .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding-top: 1.5rem;
}

#specialitates .box p{
    color: var(--light-color);
    font-size: 1.5rem;
    padding: 1rem 0;
    line-height: 1.8;
}